*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.movie-img {
    max-width: 100%;
}
