* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    padding: 1em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1em;
    background: hotpink;
    height: 100vh;
}

h1 {
    grid-column: 1 / -1;
    text-align: center;
    margin: 0;
    font-size: 3rem;
    font-family: "Nova Mono", monospace;
}

.btn {
    border: none;
    padding: 1em 2em;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 8px 0px;
    -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 8px 0px;
    -moz-box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 8px 0px;
    background-color: #fbf7f5;
}

.btn:hover,
.btn:focus {
    background-color: #f0e2db;
}
